html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html body {
  overflow-y: scroll;
  background-color: #646E6E;
  width: 100vw;

}

#root {
  height: 100%;
  background-color: #646E6E;
  width: 100vw;
}
